---
import "../styles/global.css"
import Card from "./information/Card.astro";
import CardExperience from "./information/CardExperience.astro";

const infoCards = [
    {
        title: "Colaboraci칩n con VC@SOFT",
        date: "2021 - Actualidad",
        subtitle: "Remoto - 100% 游늸",
        imgCompany: "./images/vcsoft.png",
        workDescription: `A trav칠s de VC@SOFT, he trabajado en el desarrollo de soluciones para Bancolombia, uno de los bancos m치s importantes de Latinoam칠rica. Mi enfoque principal ha sido en la optimizaci칩n y mejora de los procesos de vinculaci칩n de nuevos clientes, asegurando que cada paso del proceso sea eficiente, seguro y brinde una excelente experiencia al usuario. He contribuido a crear sistemas que manejan miles de solicitudes diarias, garantizando que cada nuevo cliente pueda abrir su cuenta de manera r치pida y segura, mientras se mantienen los m치s altos est치ndares de seguridad y cumplimiento que requiere el sector bancario.`,
    },
    {
        title: "Desarrollador Freelancer",
        date: "2021 - Actualidad",
        subtitle: "Remoto - 100% 游늸",
        imgCompany: "https://images.pexels.com/photos/5935787/pexels-photo-5935787.jpeg",
        workDescription: `Ayudo a emprendedores y empresas a materializar sus ideas en soluciones digitales efectivas. Ya sea que necesites una p치gina web para dar a conocer tu negocio, una tienda en l칤nea para vender tus productos, o una aplicaci칩n personalizada para optimizar tus procesos, trabajo contigo para entender tus objetivos y crear la soluci칩n perfecta. Mi enfoque es crear herramientas digitales que no solo se vean bien, sino que realmente ayuden a crecer tu negocio y conectar con tus clientes.`,
    }
]


---

<div class="mt-20 pb-30">
    <div>
        <h1 id="experienceId" class="text-4xl text-center">EXPERIENCIA</h1>
        <div class="flex flex-col flex-wrap justify-center items-center">
            {
                infoCards.map((card) => (
                    <CardExperience
                    title={card.title}
                    subtitle={card.subtitle} 
                    imgCompany={card.imgCompany} 
                    workDescription={card.workDescription}
                    date={card.date}
                    />
                ))
            }
        </div>
    </div>
</div>



